{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Page d'accueil</h1>
    <button type="button" class="btn btn-primary">
        <i class="fab fa-symfony"></i>
        <span>Retourner à l'accueil</span>
    </button>
{% endblock %}
