{% extends 'base.html.twig' %}

    {% block body %}
        <div class="container">
            <h1 class="my-5 text-center">
                {{ website.name }}
            </h1>

            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">URL</th>
                        <th scope="col">Code HTTP</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for status in website.statuses %}
                        <tr>
                            <th scope="row">{{ website.url }}</th>
                            <td>{{ status.code }}</td>
                            <td>{{ status.reportedAt | date('d/m/Y H:i:s') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}