{% extends 'base.html.twig' %}
    {% block body %}
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Connexion
                            </h3>
                        </div>
                        <div class="panel-body">
                            <form action="{{ path('login') }}" method="post">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="email" name="_username" />
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="password" placeholder="password" name="_password" />
                                    </div>
                                    <button class="btn btn-lg btn-success">
                                        <i class="fas fa-unlock-alt"></i>
                                        Me connecter
                                    </button>
                                    {% if error %}
                                        <div class="alert alert-warning mt-2">Login failed !</div>
                                    {% endif %}
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}